<div class="login-form">
  <div class="cont">
    <img src="/img/is_logo.png" alt="">
    <form method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" 
          class="form-control" 
          name="email" 
          value="<%- form.email %>"
          id="email"
          required>
      </div>
      <% if (errors) { %>
        <div class="alert alert-danger">Nie znaleziono podanego użytkownika</div>
      <% } %>
      <% if (typeof message !== 'undefined' && message) { %>
        <div class="alert alert-success"><%= message %></div>
      <% } %>
      <button class="btn btn-primary">Wyślij!</button>
      <div>
        <a href="/login" style="margin-left: 5px; cursor: pointer;">Powrót</a>
      </div>
    </form>
  </div>
</div>