<div class="login-form">
    <div class="cont">
      <img src="/img/is_logo.png" alt="">
      <form action="/resetPassword/<%= token %>" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" 
            class="form-control" 
            name="email" 
            value="<%- form.email %>"
            id="email"
            required>
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">Nowe hasło</label>
          <input type="password" 
            class="form-control" 
            name="newPassword" 
            id="newPassword"
            required>
        </div>
        <div class="mb-3">
          <label for="repeatPassword" class="form-label">Powtórz hasło</label>
          <input type="password" 
            class="form-control" 
            name="repeatPassword" 
            id="repeatPassword"
            required>
          <% if (typeof error !== 'undefined' && error) { %>
            <div class="text-danger mt-2"><%= error %></div>
          <% } %>
        </div>
        <button class="btn btn-primary">Zapisz!</button>
      </form>
    </div>
  </div>