#container_first_page {
    width: 100%;
    height: auto;
    background-color: #3F4E55;
    text-align: center;
}

#text_how_to_use {
    color: white;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
}
#text_how_to_use{
    color: white;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

}

.paragr{
    margin: 0 auto;
    text-align: justify;
    color: white;
    padding: 10px;
}