.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left, .right {
    flex: 1;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper {
    flex: 1;
}

.link-border {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #b7c84c;
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .right {
        flex-direction: column;
    }

    .left img {
        width: 50%; /* Adjust the percentage as needed */
    }
    
    .prawa_szpalta{
        font-size: 10px;
    }

    .how_use_font{
        font-size: 15px;
        color: #fff;
        margin-bottom: 20px;
    }

    .how_use_img{
        width: 25px;
        margin-bottom: 20px;
    }
    .scrollable-list {
        max-height: 50vh; /* Adjust the height as needed */
        overflow-y: auto;
        width: 50%;
    }
}

.scrollable-list {
    max-height: 50vh; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin-right: 10px; /* Add margin to the right */
    width: 50%; /* Set the width of the list */
}

.scrollable-list li {
    width: 80%; /* Set the width of each list item to 80% */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* WebKit browsers */
.scrollable-list::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.scrollable-list::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light grey background */
}

.scrollable-list::-webkit-scrollbar-thumb {
    background: #888; /* Darker grey thumb */
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker grey on hover */
}

/* Firefox */
.scrollable-list {
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
    scrollbar-width: thin; /* Thin scrollbar */
}

.how_use {
    display: flex;
    align-items: center;
}

.how_use_font {
    text-decoration: none; /* Remove underline */
    color: white; /* Optional: inherit the color from the parent */
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.how_use_font:hover {
    text-decoration: none; /* Underline on hover */
}

.how_use_img {
    width: 30px; /* Adjust the width as needed */
    margin-right: 10px; /* Add margin to the right */
}

